doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title Pass Num register
      link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')

  body
    block scripts
    block body
      div#login.container
        h2 Register to the application
        div: form(method='post', action='/register' class='form-vertical')
          fieldset
            legend: strong.text-info Login page

            if message.error
              div.alert.alert-danger Missing username or password

            else
              if message.success
                div.alert.alert-success You are now connected

            div.form-group
              label Username:
              input.form-control(name='username', value=user.username, autofocus)

            div.form-group
              label Password:
              input.form-control(name='password', type='password')

            div.form-actions
              input.btn.btn-primary(type='submit', value='Login')
    br